<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Notika Identity Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.carousel.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.theme.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.transitions.css">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/notika-custom-icon.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/wave/waves.min.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/wave/button.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/vendor/modernizr-2.8.3.min.js"></script>
</head>